<p><%= link_to 'profile', @user %> | 
<%= link_to 'following', followings_user_path(@user) %> | 
<%= link_to 'followers', followers_user_path(@user) %> | 
<%= link_to 'favorites', favorites_user_path(@user) %></p>